@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@100;300&display=swap');

body {
    margin: 0;
    background-color: rgb(21, 25, 28);
}

body::before {
    content: "";
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.7) 100%),
        url('/src/assets/images/martin-widenka-hF-SdHIU2lQ-unsplash.jpg');
    // background: linear-gradient(90deg,
    //         rgba(0, 0, 0, 0.2) 0%,
    //         rgba(0, 0, 0, 0.2) 100%),
    //     url('/src/assets/images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg');

    filter: blur(10px);
    position: fixed;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#App {
    color: white;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    font-size: 3rem;
}

p,
a {
    font-family: 'Raleway', sans-serif;
}


.navbar {

    background-color: rgba(12, 12, 12, 0.639);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
}


.navbar>.container {
    justify-content: flex-end;
}

.navbar .navbar-brand {
    font-family: 'Bebas Neue';
    font-size: 24px;

    &:hover {
        color: #3498db;

    }
}

.navbar-toggler {
    border: none;
    color: white;

    &:focus {
        box-shadow: none;
    }
}


.navbar-nav {
    text-align: center;
}

.nav-link:hover,
.navbar-nav .nav-link.active {
    background-color: #090b0c70;
}

.custom-carousel {

    .card {
        border-color: transparent;
        background-color: transparent;
        border-radius: 0;
    }

    .card-title {
        margin-bottom: 0;
        border: 0;
        font-size: 1rem;
    }

    .card-body {

        .card-text:last-child {
            margin-bottom: 0;
            font-family: 'Bebas Neue';
            text-align: center;
            font-size: 1rem;
        }

    }

}



.offcanvas-body {
    padding: 0;
    overflow-y: hidden;

    h5 {
        font-size: 2.7rem;
        text-align: center;
        color: #3498db;
    }
}


.offcanvas.show {
    border: 0;
    background: rgba(12, 12, 12, 0.83);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.3px);
}


.vertical-ruler {
    border-right: 1px solid grey;
    height: 30px;
    margin: 0 15px;
}



.carousel-inner {
    border-radius: 10px;

}

.single-movie-img {
    height: 69vh;
    width: auto;
}

.genres .btn {
    padding-right: 0;
    padding-left: 0;
}

// .now-playing-title {
//     position: absolute;
//     top: 3%;
//     left: 10%;
//     transform: translateX(-10%);
//     padding: 10px;
//     margin: 0;
//     font-size: 2rem;
//     text-align: center;
//     filter: drop-shadow(0px 0px 7px #000);
// }

.now-playing {
    position: relative;
    border: none;
    text-align: center;
    z-index: 1;
    margin: 30px 0;

    .carousel-inner {
        border-radius: 0;
    }

    a {
        text-decoration: none;
    }

    h3 {
        font-size: 1.7rem;
        filter: drop-shadow(0px 0px 3px #000);
    }

    .img-movie {
        object-fit: cover;
        height: 400px;
    }
}

.background-image {
    background-position: center;
    background-size: cover;

}

.blur {
    background: rgba(0, 0, 0, 0.307);
    backdrop-filter: blur(22.6px);
    -webkit-backdrop-filter: blur(11.6px);

}

.transparent-bg {
    background: transparent;
    border: 0;
    color: white;

    .btn {
        border-radius: 0;
    }

    .h5 {
        text-align: left;
    }
}

.movies-title {
    font-size: 2rem;
    filter: drop-shadow(0px 0px 7px #000);
}

.slider {
    overflow-x: auto;
    height: 360px;

    ::-webkit-scrollbar {
        display: none;
    }
}

.slider::-webkit-scrollbar {
    display: none;
}

.custom-carousel .carousel-control-prev {
    left: 10px;
    right: auto;
}

.custom-carousel .carousel-control-next {
    right: 10px;
    left: auto;
}

.custom-carousel .carousel-indicators {
    opacity: 0;
}


.scrolling-wrapper {
    overflow-x: auto;
}

.card-block {
    border: none;
    transition: all 0.2s ease-in-out;
    border-radius: 24px;

    &:hover {
        transform: translateY(-5px);
        box-shadow: none;
        opacity: 0.9;
    }
}

.similar-movies-btn.btn.btn-outline-secondary {
    border-radius: 20px;
}

.movies-card {
    position: relative;
    width: 225px;
    // height: 100%;
    height: 300px;
    background: #000;
    border-radius: 3px;
    border: 0;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.card-img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.card:hover .poster::before {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    transition: .3s;
}

.card:hover .poster img {
    transform: scale(1.1);
}

.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
}

.card:hover .details {
    bottom: 0;
}

.details h5 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.details p {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: .6;
}

.read-more {
    cursor: pointer;
    padding: 0 10px;
}

.single-movie-details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
}

.card:hover .single-movie-details {
    bottom: 0;
}


.single-movie-details h5 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: .6;
}


@media(min-width:720px) {

    .movies-title {
        font-size: 3rem;
    }
}

@media(min-width:1000px) {

    .movies-title {
        font-size: 4rem;
    }
}